body {
  background: linear-gradient(rgba(253, 28, 28, 0.555), rgb(177, 175, 175));
}

input#search {
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
input::placeholder {
  font-size: 1.5rem;
  font-style: italic;
}
.errMsg {
  color: red;
}
